Repository pagopa/io-messages, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, msgs-sending-func, external-interface-changes, documentation

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

msgs-sending-func:
  - changed-files:
      - any-glob-to-any-file: ["apps/msgs-sending-func/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/openapi/*.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]

chore: pointed main gh action branch
  .github/workflows/code-review.yaml
  .github/workflows/infra-release.yaml
  .github/workflows/infra-review.yaml
  .github/workflows/labeler.yaml
  .github/workflows/runner-release.yaml
  .github/workflows/runner-review.yaml
Labels: none

chore: run yarn install in root to fix lock
  apps/msgs-sending-func/package.json
  yarn.lock
Labels: msgs-sending-func

chore: fixed scripts and imported dependecies
  jest.config.cjs
  package.json
  tsconfig.json
  vitest.workspace.ts
  yarn.lock
Labels: none

chore: run build before tests
  package.json
Labels: none

chore: run yarn install before build
  apps/msgs-sending-func/package.json
Labels: msgs-sending-func

fix: small fixes
  apps/msgs-sending-func/package.json
  package.json
  turbo.json
Labels: msgs-sending-func

delete install-state.gz
  apps/msgs-sending-func/.yarn/install-state.gz
Labels: msgs-sending-func

delete yarn.lock in msgs-sending-func workspace
  apps/msgs-sending-func/yarn.lock
Labels: msgs-sending-func

add rimraf
  apps/msgs-sending-func/package.json
  yarn.lock
Labels: msgs-sending-func

fix: added turbo config to app msgs-sending-func
  apps/msgs-sending-func/turbo.json
Labels: msgs-sending-func

fix: added esModuleInterop
  tsconfig.json
Labels: none

fix: fixed turbo config
  apps/msgs-sending-func/package.json
  apps/msgs-sending-func/turbo.json
  package.json
Labels: msgs-sending-func

infra: added properties and redis
  infra/resources/_modules/function_apps_msgs_sending/locals.tf
  infra/resources/_modules/function_apps_msgs_sending/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

infra: added redis properties
  infra/resources/prod/main.tf
Labels: infra

fix
  infra/resources/prod/main.tf
Labels: infra

fixed infra
  infra/resources/prod/main.tf
Labels: infra

feat: added deploy action
  .github/workflows/msgs-sending-func-deploy.yaml
Labels: none

fixs ignore
  apps/msgs-sending-func/__integrations__/.yarn/install-state.gz
Labels: msgs-sending-func
