Repository pagopa/io-messages, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, msgs-sending-func, etl-func, push-notifications-func, external-interface-changes, documentation

fix local run problems
  apps/cqrs-func/CosmosApiMessagesChangeFeed/function.json
  apps/cqrs-func/CosmosRemoteContentMessageConfigurationChangeFeed/function.json
  apps/cqrs-func/extensions.csproj
  apps/cqrs-func/package.json
  apps/cqrs-func/utils/config.ts
  compose.yml
  yarn.lock
Labels: none

fix dependency
  .yarnrc.yml
  yarn.lock
Labels: none

fix dependency (#199)
  .yarnrc.yml
  yarn.lock
Labels: none

move queus outside internal storage. application insight instr key
  apps/push-notifications-func/HandleNHNotificationCall/function.json
  apps/push-notifications-func/HandleNHNotifyMessageCallActivityQueue/function.json
  apps/push-notifications-func/__mocks__/env-config.mock.ts
  apps/push-notifications-func/__mocks__/env.mock.ts
  apps/push-notifications-func/env.example
  apps/push-notifications-func/utils/config.ts
  infra/resources/_modules/web_apps/push-notifications-func.tf
Labels: infra, push-notifications-func

resolves dependencies and code-review
  .yarnrc.yml
  yarn.lock
Labels: none

Fix/moving queues outside internal storage (#200)
  .yarnrc.yml
  apps/push-notifications-func/HandleNHNotificationCall/function.json
  apps/push-notifications-func/HandleNHNotifyMessageCallActivityQueue/function.json
  apps/push-notifications-func/__mocks__/env-config.mock.ts
  apps/push-notifications-func/__mocks__/env.mock.ts
  apps/push-notifications-func/env.example
  apps/push-notifications-func/utils/config.ts
  infra/resources/_modules/web_apps/push-notifications-func.tf
  yarn.lock
Labels: infra, push-notifications-func

Clean arch
  apps/ops-func/package.json
  apps/ops-func/src/adapters/__tests__/audit.spec.ts
  apps/ops-func/src/adapters/__tests__/message.spec.ts
  apps/ops-func/src/adapters/audit.ts
  apps/ops-func/src/adapters/blob-storage/__tests__/message-content-deleter.test.ts
  apps/ops-func/src/adapters/blob-storage/message-content-deleter.ts
  apps/ops-func/src/adapters/config.ts
  apps/ops-func/src/adapters/cosmos/__tests__/message-metadata-deleter.test.ts
  apps/ops-func/src/adapters/cosmos/__tests__/message-status-deleter.test.ts
  apps/ops-func/src/adapters/cosmos/message-metadata-deleter.ts
  apps/ops-func/src/adapters/cosmos/message-status-deleter.ts
  apps/ops-func/src/adapters/functions/__tests__/delete-message.test.ts
  apps/ops-func/src/adapters/functions/__tests__/split-delete-messages.test.ts
  apps/ops-func/src/adapters/functions/delete-message.ts
  apps/ops-func/src/adapters/functions/split-delete-messages.ts
  apps/ops-func/src/adapters/message.ts
  apps/ops-func/src/domain/audit.ts
  apps/ops-func/src/domain/message.ts
  apps/ops-func/src/domain/use-cases/__tests__/delete-message.spec.ts
  apps/ops-func/src/domain/use-cases/__tests__/delete-message.test.ts
  apps/ops-func/src/domain/use-cases/delete-message.ts
  apps/ops-func/src/domain/use-cases/health.ts
  apps/ops-func/src/func.ts
  apps/ops-func/src/types.ts
  apps/ops-func/tsconfig.json
  apps/ops-func/vitest.config.js
  infra/repository/.terraform.lock.hcl
  infra/repository/main.tf
  yarn.lock
Labels: infra

add error handling for cosmos 404
  apps/ops-func/src/adapters/message.ts
Labels: none

format, lint and fix unit test
  apps/ops-func/src/adapters/__tests__/audit.spec.ts
  apps/ops-func/src/domain/use-cases/__tests__/delete-message.spec.ts
Labels: none

Refactor to enforce clean architecture (#201)
  apps/ops-func/package.json
  apps/ops-func/src/adapters/__tests__/audit.spec.ts
  apps/ops-func/src/adapters/__tests__/message.spec.ts
  apps/ops-func/src/adapters/audit.ts
  apps/ops-func/src/adapters/blob-storage/__tests__/message-content-deleter.test.ts
  apps/ops-func/src/adapters/blob-storage/message-content-deleter.ts
  apps/ops-func/src/adapters/config.ts
  apps/ops-func/src/adapters/cosmos/__tests__/message-metadata-deleter.test.ts
  apps/ops-func/src/adapters/cosmos/__tests__/message-status-deleter.test.ts
  apps/ops-func/src/adapters/cosmos/message-metadata-deleter.ts
  apps/ops-func/src/adapters/cosmos/message-status-deleter.ts
  apps/ops-func/src/adapters/functions/__tests__/delete-message.test.ts
  apps/ops-func/src/adapters/functions/__tests__/split-delete-messages.test.ts
  apps/ops-func/src/adapters/functions/delete-message.ts
  apps/ops-func/src/adapters/functions/split-delete-messages.ts
  apps/ops-func/src/adapters/message.ts
  apps/ops-func/src/domain/audit.ts
  apps/ops-func/src/domain/message.ts
  apps/ops-func/src/domain/use-cases/__tests__/delete-message.spec.ts
  apps/ops-func/src/domain/use-cases/__tests__/delete-message.test.ts
  apps/ops-func/src/domain/use-cases/delete-message.ts
  apps/ops-func/src/domain/use-cases/health.ts
  apps/ops-func/src/func.ts
  apps/ops-func/src/types.ts
  apps/ops-func/tsconfig.json
  apps/ops-func/vitest.config.js
  infra/repository/.terraform.lock.hcl
  infra/repository/main.tf
  yarn.lock
Labels: infra

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

msgs-sending-func:
  - changed-files:
      - any-glob-to-any-file: ["apps/msgs-sending-func/**"]

etl-func:
  - changed-files:
      - any-glob-to-any-file: ["apps/etl-func/**"]

push-notifications-func:
  - changed-files:
      - any-glob-to-any-file: ["apps/push-notifications-func/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/openapi/*.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]
