Repository pagopa/io-messages, pull requests merged in 2024-12, with the labels that each got.

#61 Iocom 1876 etl func compose
  apps/etl-func/docs/messages-ingestion/messages-ingestion-flow.png
  apps/etl-func/docs/messages-ingestion/messages-ingestion-flow.puml
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/__tests__/message-event.test.ts
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
  apps/etl-func/src/adapters/message-event.ts
  apps/etl-func/src/adapters/pdv-tokenizer/pdv-tokenizer-client.ts
  apps/etl-func/src/domain/message.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/cosmos/cosmos_etl_messages.tf
  infra/resources/_modules/cosmos/main.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/web_apps.tf
Labels: infra, etl-func

#67 feat(etl-funct): added permission to assign role
  infra/identity/prod/locals.tf
Labels: infra

#68 fix: sticky_app_settings
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra

#69 fix: etl_func app settings
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/locals.tf
Labels: infra

#70 add "files" property to package.json
  .github/workflows/etl-func-deploy.yaml
  apps/etl-func/package.json
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/func.ts
  infra/resources/prod/web_apps.tf
  package.json
  yarn.lock
Labels: infra, etl-func

#71 Add log into healthcheck function
  apps/etl-func/src/adapters/pdv-tokenizer/pdv-tokenizer-client.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra, etl-func

#72 added key vault List policies for etl func
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra

#74 fix: adding allowed sources to the eventhub
  infra/resources/_modules/eventhubs/etl.tf
  infra/resources/_modules/eventhubs/locals.tf
Labels: infra

#73 fix: prepare etl-func for ingestion
  apps/etl-func/avro/message.avsc
  apps/etl-func/src/__mocks__/message-event.ts
  apps/etl-func/src/adapters/avro.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
  apps/etl-func/src/domain/message.ts
  apps/etl-func/src/func.ts
Labels: etl-func

#75 fix(etl-func): refactor for clean architecture
  apps/etl-func/src/__mocks__/message-event.ts
  apps/etl-func/src/__mocks__/message.ts
  apps/etl-func/src/adapters/__tests__/message-event.test.ts
  apps/etl-func/src/adapters/__tests__/message.test.ts
  apps/etl-func/src/adapters/blob-storage/__tests__/message-content.test.ts
  apps/etl-func/src/adapters/blob-storage/message-content.ts
  apps/etl-func/src/adapters/eventhub/event.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
  apps/etl-func/src/adapters/message.ts
  apps/etl-func/src/adapters/pdv-tokenizer/pdv-tokenizer-client.ts
  apps/etl-func/src/domain/__tests__/tokenizer.spec.ts
  apps/etl-func/src/domain/event.ts
  apps/etl-func/src/domain/message-event.ts
  apps/etl-func/src/domain/message-status.ts
  apps/etl-func/src/domain/message.ts
  apps/etl-func/src/domain/tokenizer.ts
  apps/etl-func/src/domain/use-cases/ingest-message.ts
  apps/etl-func/src/func.ts
  packages/io-messages-common/src/domain/fiscal-code.ts
Labels: etl-func

#66 feat(etl-func): add redis cache to tokenizer
  apps/etl-func/local.settings.json.example
  apps/etl-func/package.json
  apps/etl-func/src/__mocks__/message.ts
  apps/etl-func/src/adapters/__tests__/message.test.ts
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
  apps/etl-func/src/adapters/redis/config.ts
  apps/etl-func/src/adapters/redis/recipient.ts
  apps/etl-func/src/adapters/tokenizer/__tests__/pdv-tokenizer-client.test.ts
  apps/etl-func/src/adapters/tokenizer/cached-tokenizer-client.ts
  apps/etl-func/src/adapters/tokenizer/config.ts
  apps/etl-func/src/adapters/tokenizer/pdv-tokenizer-client.ts
  apps/etl-func/src/domain/__tests__/tokenizer.spec.ts
  apps/etl-func/src/domain/message-event.ts
  apps/etl-func/src/domain/tokenizer.ts
  apps/etl-func/src/domain/use-cases/ingest-message.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/web_apps.tf
  yarn.lock
Labels: infra, etl-func

#76 fix(etl-func): removed test logs and test fix
  apps/etl-func/src/adapters/tokenizer/__tests__/pdv-tokenizer-client.test.ts
  apps/etl-func/src/adapters/tokenizer/cached-tokenizer-client.ts
  turbo.json
Labels: etl-func

#63 feat: Setting up load message status
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/eventhubs/etl.tf
  infra/resources/_modules/web_apps/locals.tf
Labels: infra, etl-func

#62 feat: add getMessageStatusEventFromMessage
  apps/etl-func/src/__mocks__/message-status.ts
  apps/etl-func/src/adapters/__tests__/message-status.test.ts
  apps/etl-func/src/domain/__tests__/message-status.test.ts
  apps/etl-func/src/domain/message-status-event.ts
  apps/etl-func/src/domain/message-status.ts
  apps/etl-func/src/domain/message.ts
  packages/io-messages-common/src/types/date.ts
Labels: etl-func

#78 IOCOM-2041 - adding redis to message sequence diagram
  apps/etl-func/docs/messages-ingestion/messages-ingestion-flow.png
  apps/etl-func/docs/messages-ingestion/messages-ingestion-flow.puml
Labels: etl-func

#77 feat: add message-status-ingestion function
  apps/etl-func/avro/message-status.avsc
  apps/etl-func/docs/message-status-ingestion/message-status-ingestion.png
  apps/etl-func/docs/message-status-ingestion/message-status-ingestion.puml
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/__mocks__/message-status.ts
  apps/etl-func/src/adapters/__tests__/message-status.test.ts
  apps/etl-func/src/adapters/avro.ts
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/functions/__tests__/message-status-ingestion.test.ts
  apps/etl-func/src/adapters/functions/message-status-ingestion.ts
  apps/etl-func/src/adapters/redis/config.ts
  apps/etl-func/src/domain/__tests__/message-status-event.test.ts
  apps/etl-func/src/domain/__tests__/message-status.test.ts
  apps/etl-func/src/domain/message-status-event.ts
  apps/etl-func/src/domain/message-status.ts
  apps/etl-func/src/domain/use-cases/__tests__/ingest-message-status.test.ts
  apps/etl-func/src/domain/use-cases/ingest-message-status.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/prod/web_apps.tf
Labels: infra, etl-func
