Repository pagopa/io-messages, pull requests merged in 2024-09, with the labels that each got.

#19 [IOCOM-1697] Added NAT Gateway bindings
  infra/resources/_modules/function_app_citizen/function_app_citizen.tf
  infra/resources/_modules/function_app_citizen/locals.tf
  infra/resources/_modules/function_app_citizen/variables.tf
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#24 fix(citizen-func): use factory instead of singleton for redis
  .changeset/beige-mirrors-rest.md
  apps/citizen-func/GetMessage/handler.ts
  apps/citizen-func/GetMessage/index.ts
  apps/citizen-func/GetMessages/__tests__/getMessagesFallback.test.ts
  apps/citizen-func/GetMessages/handler.ts
  apps/citizen-func/GetMessages/index.ts
  apps/citizen-func/GetRCConfiguration/index.ts
  apps/citizen-func/openapi/index.yaml
  apps/citizen-func/utils/__tests__/redis_storage.test.ts
  apps/citizen-func/utils/messages.ts
  apps/citizen-func/utils/redis.ts
  apps/citizen-func/utils/redis_storage.ts
  apps/citizen-func/utils/remoteContentConfig.ts
Labels: external-interface-changes

#27 fix: fixed pagopa/dx module version
  infra/github-runner/prod/main.tf
  infra/identity/prod/main.tf
  infra/resources/_modules/function_app_citizen/function_app_citizen.tf
  infra/resources/_modules/function_app_sending/function_app_sending.tf
Labels: infra

#26 feat(monitoring): add new action group
  infra/resources/_modules/monitoring/action_group.tf
  infra/resources/_modules/monitoring/main.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#18 docs(process-message): add sequence diagram
  docs/process-message/process-message.png
  docs/process-message/process-message.puml
Labels: documentation

#32 Edit repository settings (rebase merging, update pull request branches)
  infra/repository/github_repository.tf
Labels: infra

#30 feat: added action group io_com_error to functions
  infra/resources/_modules/function_app_citizen/function_app_citizen.tf
  infra/resources/_modules/function_app_citizen/variables.tf
  infra/resources/_modules/function_app_sending/function_app_sending.tf
  infra/resources/_modules/function_app_sending/variables.tf
  infra/resources/_modules/monitoring/outputs.tf
  infra/resources/_modules/web_apps/linux_function_app_admin.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/web_apps.tf
Labels: infra

#36 [CES-22] Import iopstapi and related storage accounts
  infra/identity/prod/README.md
  infra/resources/_modules/storage_accounts/alerts.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/storage_account_api.tf
  infra/resources/_modules/storage_accounts/storage_account_api_events.tf
  infra/resources/_modules/storage_accounts/storage_account_api_replica.tf
  infra/resources/_modules/storage_accounts/storage_account_object_replication.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/westeurope.tf
Labels: infra

#31 Add sequence diagram for CreateMessage
  .vscode/settings.json
  docs/CreateMessage/create-message.plantuml
  docs/CreateMessage/create-message.png
Labels: documentation

#37 [CES-28] Import Notification Hubs
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
  infra/resources/_modules/notification_hubs/data.tf
  infra/resources/_modules/notification_hubs/locals.tf
  infra/resources/_modules/notification_hubs/main.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_1.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_2.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_3.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_4.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_sandbox.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_sandbox_partition_1.tf
  infra/resources/_modules/notification_hubs/variables.tf
  infra/resources/prod/import.tf
  infra/resources/prod/westeurope.tf
Labels: infra

#20 docs(sending-message): sending message c4 diagrams
  docs/sending-message/fn-services.plantuml
  docs/sending-message/fn-services.png
  docs/sending-message/message-sender.plantuml
  docs/sending-message/message-sender.png
Labels: documentation
