Repository pagopa/io-messages, pull requests merged in 2024-10, with the labels that each got.

#39 feat(etl-func): init setup etl function app
  .github/workflows/etl-func-deploy.yaml
  apps/etl-func/README.md
  apps/etl-func/eslint.config.js
  apps/etl-func/host.json
  apps/etl-func/local.settings.json.example
  apps/etl-func/package.json
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/func.ts
  apps/etl-func/tsconfig.json
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/prod/web_apps.tf
  yarn.lock
Labels: infra

#45 fix: add itn-com-rg to identity
  infra/identity/prod/locals.tf
Labels: infra

#46 fix(infra/etl-func): change health check path
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra

#43 [IOCOM-1798] Scale up io-p-itn-msgs-sending-func, add citizen-func-deploy workflow
  .github/workflows/citizen-func-deploy.yaml
  .github/workflows/msgs-citizen-func-deploy.yaml
  infra/identity/prod/locals.tf
  infra/resources/_modules/function_app_sending/function_app_sending.tf
Labels: infra

#34 [IOCOM-1726] Sequence diagram for next message page loading of IO-App
  docs/io-app/load-next-page-message-list.png
  docs/io-app/load-next-page-message-list.puml
Labels: documentation

#40 chore: add message-status and message avro schemas
  .github/labeler.yml
  apps/etl-func/avro/message-status.json
  apps/etl-func/avro/message.json
  apps/etl-func/src/domain/message.ts
Labels: etl-func

#41 adding read messages c4 diagrams
  docs/read-messages/message-list-reader.plantuml
  docs/read-messages/message-list-reader.png
  docs/read-messages/mobile-app.plantuml
  docs/read-messages/mobile-app.png
Labels: documentation

#47 fix(infra): remove FUNCTIONS_WORKER_PROCESS_COUNT
  infra/resources/_modules/function_app_sending/function_app_sending.tf
  infra/resources/_modules/function_app_sending/locals.tf
Labels: infra

#38 Add c4model diagrams for Data Plan
  docs/data-plan/container.puml
  docs/data-plan/data-plan-container.png
  docs/data-plan/data-plan-system-context.png
  docs/data-plan/system-context.puml
Labels: documentation

#51 adding messages eventhub to io-messages infra
  infra/resources/_modules/eventhubs/etl.tf
  infra/resources/_modules/eventhubs/main.tf
  infra/resources/_modules/eventhubs/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/data.tf
  infra/resources/prod/eventhubs.tf
  infra/resources/prod/main.tf
Labels: infra

#50 feat(fn-elt): add extract message
  apps/etl-func/README.md
  apps/etl-func/local.settings.json.example
  apps/etl-func/package.json
  apps/etl-func/src/__mocks__/message.ts
  apps/etl-func/src/adapters/__tests__/message.test.ts
  apps/etl-func/src/adapters/blob-storage/__tests__/message-content.test.ts
  apps/etl-func/src/adapters/blob-storage/blob.ts
  apps/etl-func/src/adapters/blob-storage/message-content.ts
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/message.ts
  apps/etl-func/src/domain/message.ts
  apps/etl-func/src/func.ts
  apps/etl-func/vitest.config.js
  docs/extract-message/extract-message.png
  docs/extract-message/extract-message.puml
  package.json
  vitest.workspace.ts
  yarn.lock
Labels: documentation, etl-func

#53 add namespace, aliases and right extension
  apps/etl-func/avro/message-status.avsc
  apps/etl-func/avro/message.avsc
Labels: etl-func
