Repository pagopa/io-messages, pull requests merged in 2024-11, with the labels that each got.

#55 fix(notification-hub): minimize false positives on the NH alerts
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_1.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_2.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_3.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_4.tf
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

#54 IOCOM 1776 load message
  .gitignore
  apps/etl-func/README.md
  apps/etl-func/local.settings.json.example
  apps/etl-func/package.json
  apps/etl-func/src/__mocks__/message-event.ts
  apps/etl-func/src/adapters/__tests__/message-event.test.ts
  apps/etl-func/src/adapters/avro.ts
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/eventhub/config.ts
  apps/etl-func/src/adapters/message-event.ts
  apps/etl-func/src/domain/message.ts
  apps/etl-func/src/func.ts
  apps/etl-func/tsconfig.json
  docs/load-message/load-message.png
  docs/load-message/load-message.puml
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/web_apps.tf
  yarn.lock
Labels: documentation, infra, etl-func

#49 feat(fn-etl): tokenize-fiscal-code
  apps/citizen-func/openapi/index.yaml
  apps/etl-func/docs/tokenizer/tokenizer.png
  apps/etl-func/docs/tokenizer/tokenizer.puml
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/pdv-tokenizer/pdv-tokenizer-client.ts
  apps/etl-func/src/domain/interfaces/tests/tokenizer.spec.ts
  apps/etl-func/src/domain/interfaces/tokenizer.ts
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra, external-interface-changes, etl-func

#33 [IOCOM-1725] View message list sequence diagram
  docs/io-app/view-message-list.png
  docs/io-app/view-message-list.puml
Labels: documentation

#58 feat: add transformMessage method
  apps/etl-func/src/__mocks__/message.ts
  apps/etl-func/src/adapters/__tests__/message.test.ts
  apps/etl-func/src/adapters/message.ts
  apps/etl-func/src/domain/message.ts
Labels: etl-func

#59 feat: add createMessageStatusEntity
  apps/etl-func/src/domain/__tests__/message-status.test.ts
  apps/etl-func/src/domain/message-status.ts
Labels: etl-func
