Repository pagopa/io-messages, pull requests merged in 2025-01, with the labels that each got.

#52 docs: add message datacontract
  docs/datacontract.yaml
Labels: documentation

#79 Message ingestion - message metadata parse fix
  apps/etl-func/README.md
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
Labels: etl-func

#35 [IOCOM-1727] sequence diagram for messages continuous fetch in io-app
  docs/io-app/messages-autorefresh.png
  docs/io-app/messages-autorefresh.puml
Labels: documentation

#82 Add "test:coverage" in root, enable codecov integration, update dependencies
  apps/citizen-func/GetMessages/__tests__/getMessagesFallback.test.ts
  apps/citizen-func/GetMessages/__tests__/handler.test.ts
  apps/citizen-func/package.json
  apps/citizen-func/turbo.json
  apps/citizen-func/utils/__tests__/messages.test.ts
  apps/citizen-func/vitest.config.mjs
  apps/etl-func/package.json
  apps/notif-func/package.json
  apps/sending-func/package.json
  apps/sending-func/turbo.json
  infra/repository/data.tf
  infra/repository/locals.tf
  package.json
  packages/io-messages-common/package.json
  turbo.json
  vitest.workspace.ts
  yarn.lock
Labels: infra, etl-func

#88 feat(infra): add new cosmos account with databases
  .pre-commit-config.yaml
  infra/repository/README.md
  infra/resources/_modules/cosmos/io_com_cosmos.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra
