Repository pagopa/io-messages, pull requests merged in 2025-03, with the labels that each got.

#162 Enable etl-func
  .changeset/empty-tools-live.md
  infra/resources/_modules/web_apps/locals.tf
Labels: infra

#164 Assign roles to new APIM instance
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

#165 Increase dataplan-ingestion-lease container RU
  infra/resources/_modules/cosmos/cosmos_etl_messages.tf
Labels: infra

#166 Make the `etl-func` workspace public
  apps/etl-func/package.json
Labels: etl-func

#167 Track batchId in message-summary collect error event
  .changeset/sharp-papayas-scream.md
  apps/etl-func/src/adapters/cosmos/event-collector.ts
Labels: etl-func

#169 Update citizen-func autoscaler
  infra/resources/_modules/web_apps/citizen-func.tf
Labels: infra

#171 Update time_window on ingestion alerts
  infra/resources/_modules/monitoring/monitoring.tf
Labels: infra

#174 Update Azure resource tags to match new convention
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
Labels: infra

#172 Setup Devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/eventhub/config.ts
  apps/etl-func/src/adapters/eventhub/index.ts
  apps/etl-func/src/func.ts
  compose.yml
  eventhubs-emulator.json
  package.json
  yarn.lock
Labels: documentation, etl-func

#178 Update dx modules
  infra/repository/README.md
  infra/repository/main.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/io_com_cosmos.tf
  infra/resources/_modules/eventhubs/README.md
  infra/resources/_modules/eventhubs/etl.tf
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/function_app_sending/function_app_sending.tf
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/notification_hubs/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_account_io_com.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/citizen-func.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

#183 Create `io-p-itn-com-cae-01`
  infra/resources/_modules/container_apps/README.md
  infra/resources/_modules/container_apps/com_cae.tf
  infra/resources/_modules/container_apps/main.tf
  infra/resources/_modules/container_apps/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/container_apps.tf
  infra/resources/prod/locals.tf
Labels: infra
