Repository pagopa/io-messages, pull requests merged in 2025-02, with the labels that each got.

#86 Iocom 2053 Ingestion error handling
  apps/etl-func/docs/messages-ingestion/messages-ingestion-error-handling.png
  apps/etl-func/docs/messages-ingestion/messages-ingestion-error-handling.puml
  apps/etl-func/local.settings.json.example
  apps/etl-func/package.json
  apps/etl-func/src/adapters/__tests__/message.test.ts
  apps/etl-func/src/adapters/appinsights/appinsights.ts
  apps/etl-func/src/adapters/appinsights/config.ts
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
  apps/etl-func/src/adapters/message.ts
  apps/etl-func/src/adapters/table-storage/config.ts
  apps/etl-func/src/adapters/table-storage/event-error-table-storage.ts
  apps/etl-func/src/domain/event.ts
  apps/etl-func/src/domain/telemetry.ts
  apps/etl-func/src/func.ts
  apps/sending-func/package.json
  docs/load-message/load-message.png
  docs/load-message/load-message.puml
  infra/resources/_modules/storage_accounts/storage_account_api.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/web_apps.tf
  turbo.json
  yarn.lock
Labels: documentation, infra, etl-func

#90 fix: update container names
  infra/resources/_modules/cosmos/io_com_cosmos.tf
Labels: infra

#93 [CES-585] Roles management refactoring
  .github/workflows/infra-release.yaml
  .github/workflows/infra-review.yaml
  .github/workflows/runner-release.yaml
  .github/workflows/runner-review.yaml
  .pre-commit-config.yaml
  .terraform-version
  .tflint.hcl
  .trivyignore
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/identity/prod/outputs.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/outputs.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_etl_messages.tf
  infra/resources/_modules/eventhubs/README.md
  infra/resources/_modules/eventhubs/etl.tf
  infra/resources/_modules/function_app_citizen/README.md
  infra/resources/_modules/function_app_citizen/function_app_citizen.tf
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/function_app_sending/function_app_sending.tf
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/notification_hubs/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_account_api.tf
  infra/resources/_modules/storage_accounts/storage_account_api_events.tf
  infra/resources/_modules/storage_accounts/storage_account_api_replica.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/resource_groups.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#92 Error management for message status ingestion
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/functions/__tests__/message-status-ingestion.test.ts
  apps/etl-func/src/adapters/functions/message-status-ingestion.ts
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
  apps/etl-func/src/adapters/message.ts
  apps/etl-func/src/domain/telemetry.ts
  apps/etl-func/src/domain/use-cases/ingest-message-status.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/storage_accounts/storage_account_api.tf
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/web_apps.tf
Labels: infra, etl-func

#85 feat: add utilities to check message events based on time ranges
  apps/etl-func/local.settings.json.example
  apps/etl-func/package.json
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/cosmos/__tests__/cosmos-collector.test.ts
  apps/etl-func/src/adapters/cosmos/config.ts
  apps/etl-func/src/adapters/cosmos/event-collector.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/domain/event.ts
  apps/etl-func/src/domain/telemetry.ts
  apps/etl-func/src/domain/use-cases/ingest-message.ts
  apps/etl-func/src/func.ts
  docs/data-plan/container.puml
  docs/data-plan/data-plan-container.png
  docs/data-plan/data-plan-system-context.png
  docs/data-plan/system-context.puml
  docs/load-message/load-message.png
  docs/load-message/load-message.puml
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/web_apps.tf
  turbo.json
  yarn.lock
Labels: documentation, infra, etl-func

#95 [CES-728] Switch back to access keys when accessing Storage Accounts
  infra/resources/prod/main.tf
Labels: infra

#96 Move citizen-func to Italy North
  .github/workflows/deploy-citizen-func.yaml
  infra/resources/_modules/web_apps/citizen-func.tf
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/web_apps.tf
Labels: infra

#101 fix(infra): add cosmos roles for etl
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra

#103 fix(infra): use correct cosmos role
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra

#102 [CES-741] Add roles to associate subnets and NAT Gateways to GitHub Infra identity
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

#105 fix(etl-func): remove cosmos healthcheck
  apps/etl-func/src/func.ts
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra, etl-func

#106 fix: restore cosmos healthcheck
  apps/etl-func/src/func.ts
Labels: etl-func

#94 feat(infra): alerts for ingestion monitoring
  apps/etl-func/src/adapters/appinsights/appinsights.ts
  apps/etl-func/src/domain/telemetry.ts
  infra/resources/_modules/monitoring/action_group.tf
  infra/resources/_modules/monitoring/monitoring.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/web_apps.tf
Labels: infra, etl-func

#97 chore: moving cosmosdb trigger setting to the env vars
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/eventhubs/etl.tf
  infra/resources/_modules/web_apps/locals.tf
Labels: infra, etl-func

#104 [CES-750] Add roles to allow app deployments to io-p-itn-com-rg-01 from GitHub workflows
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/resource_groups.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#108 chore(infra): added event hub roles
  infra/resources/prod/resource_groups.tf
Labels: infra

#109 fix(infra): reverted event hub retention to 7 days
  infra/resources/_modules/eventhubs/etl.tf
Labels: infra

#110 [IOCOM-2129] Move EventHub to domain rg
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/eventhubs/README.md
  infra/resources/_modules/eventhubs/outputs.tf
  infra/resources/_modules/function_app_citizen/README.md
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/notification_hubs/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/web_apps/README.md
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/eventhubs.tf
  infra/resources/prod/web_apps.tf
Labels: infra

#107 refactor(infra): add new storage account and table
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/io_com_cosmos.tf
  infra/resources/_modules/function_app_citizen/README.md
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/notification_hubs/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_account_io_com.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/locals.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/prod/web_apps.tf
  infra/resources/prod/westeurope.tf
Labels: infra

#111 Move iopitncomst01 to io-p-itn-com-01 resource group
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/alerts.tf
  infra/resources/_modules/storage_accounts/storage_account_api.tf
  infra/resources/_modules/storage_accounts/storage_account_api_events.tf
  infra/resources/_modules/storage_accounts/storage_account_api_replica.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/westeurope.tf
Labels: infra

#112 Increase throughput for messages-summary container
  infra/resources/_modules/cosmos/io_com_cosmos.tf
Labels: infra

#114 Expose the id of the messages error table in outputs
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/web_apps.tf
Labels: infra

#115 Replace table id with storage id in role assignment
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/web_apps.tf
Labels: infra

#98 Change connection method to Application Insights in citizen-func
  .github/workflows/deploy-citizen-func.yaml
  apps/citizen-func/.env.example
  apps/citizen-func/GetMessages/__tests__/getMessagesFallback.test.ts
  apps/citizen-func/GetMessages/__tests__/handler.test.ts
  apps/citizen-func/__mocks__/env-config.mock.ts
  apps/citizen-func/package.json
  apps/citizen-func/utils/__tests__/messages.test.ts
  apps/citizen-func/utils/appinsights.ts
  apps/citizen-func/utils/config.ts
  infra/resources/_modules/web_apps/citizen-func.tf
  yarn.lock
Labels: infra

#122 Set keyless CosmosDB connection in `citizen-func`
  .changeset/afraid-stingrays-argue.md
  apps/citizen-func/Info/handler.ts
  apps/citizen-func/Info/index.ts
  apps/citizen-func/__mocks__/env-config.mock.ts
  apps/citizen-func/package.json
  apps/citizen-func/utils/__tests__/healthcheck.test.ts
  apps/citizen-func/utils/config.ts
  apps/citizen-func/utils/cosmosdb.ts
  apps/citizen-func/utils/healthcheck.ts
  infra/resources/_modules/web_apps/citizen-func.tf
  yarn.lock
Labels: infra

#119 Remove `function_app_citizen` module
  infra/resources/_modules/function_app_citizen/README.md
  infra/resources/_modules/function_app_citizen/function_app_citizen.tf
  infra/resources/_modules/function_app_citizen/locals.tf
  infra/resources/_modules/function_app_citizen/main.tf
  infra/resources/_modules/function_app_citizen/outputs.tf
  infra/resources/_modules/function_app_citizen/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#123 Add roles for Infra identities to manage table storage
  infra/repository/tfmodules.lock.json
  infra/resources/prod/README.md
  infra/resources/prod/resource_groups.tf
Labels: infra

#125 Add roles for Infra identities to update roles of cosmos-api
  infra/resources/prod/README.md
  infra/resources/prod/iam.tf
Labels: infra

#127 Replace role for Infra CD identity to manage roles of cosmos-api
  infra/resources/prod/README.md
  infra/resources/prod/iam.tf
Labels: infra

#120 Scale down `io-p-itn-msgs-redis-01` from P1 to C2
  infra/resources/prod/main.tf
Labels: infra

#117 Fix Message Ingestion alerts
  infra/resources/_modules/monitoring/monitoring.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#129 Change `io-p-itn-msgs-redis-01` sku_name
  infra/resources/prod/main.tf
Labels: infra

#133 Move alerts to `io-p-itn-com-rg-01`
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_1.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_2.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_3.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_4.tf
  infra/resources/_modules/notification_hubs/variables.tf
  infra/resources/_modules/storage_accounts/alerts.tf
  infra/resources/prod/westeurope.tf
Labels: infra

#135 Fix `citizen-func` role assigment
  infra/resources/_modules/web_apps/citizen-func.tf
Labels: infra

#134 Fix ingestion custom event sampling
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/__tests__/message.test.ts
  apps/etl-func/src/adapters/appinsights/appinsights.ts
  apps/etl-func/src/adapters/appinsights/config.ts
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/cosmos/__tests__/cosmos-collector.test.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/adapters/functions/__tests__/message-status-ingestion.test.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/domain/telemetry.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/web_apps/locals.tf
Labels: infra, etl-func

#136 Fix `citizen-func` role assigment
  infra/resources/_modules/web_apps/citizen-func.tf
Labels: infra

#121 Set keyless CosmosDB connection in `sending-func`
  .changeset/quick-moles-pretend.md
  apps/sending-func/.env.example
  apps/sending-func/Info/handler.ts
  apps/sending-func/Info/index.ts
  apps/sending-func/__mocks__/env-config.mock.ts
  apps/sending-func/package.json
  apps/sending-func/utils/__tests__/healthcheck.test.ts
  apps/sending-func/utils/config.ts
  apps/sending-func/utils/cosmosdb.ts
  apps/sending-func/utils/healthcheck.ts
  infra/resources/_modules/function_app_sending/function_app_sending.tf
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/function_app_sending/variables.tf
  infra/resources/prod/main.tf
  yarn.lock
Labels: infra

#130 Change summary handling
  apps/etl-func/package.json
  apps/etl-func/src/adapters/cosmos/__tests__/cosmos-collector.test.ts
  apps/etl-func/src/adapters/cosmos/event-collector.ts
  apps/etl-func/src/adapters/functions/__tests__/messages-ingestion.test.ts
  apps/etl-func/src/domain/event.ts
  apps/etl-func/src/domain/use-cases/ingest-message.ts
  apps/etl-func/src/func.ts
  yarn.lock
Labels: etl-func

#138 Enable `storage_use_azuread`
  infra/resources/prod/main.tf
Labels: infra

#142 Update data-plan-container diagram
  docs/data-plan/container.puml
  docs/data-plan/data-plan-container.png
Labels: documentation

#139 Fix ingestion bugs
  apps/etl-func/src/adapters/functions/messages-ingestion.ts
  apps/etl-func/src/domain/telemetry.ts
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/prod/web_apps.tf
Labels: infra, etl-func

#144 Use ULID for MessageErrorTableEntity rowKey
  apps/etl-func/package.json
  apps/etl-func/src/adapters/table-storage/event-error-table-storage.ts
  yarn.lock
Labels: etl-func

#137 Add notification hubs permissions and fix etl-func slot roles
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_1.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_2.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_3.tf
  infra/resources/_modules/notification_hubs/notification_hub_ntfns_common_partition_4.tf
  infra/resources/_modules/notification_hubs/variables.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/prod/westeurope.tf
Labels: infra

#148 Switch to Application Insights Connection String
  .changeset/orange-jars-repeat.md
  apps/sending-func/.env.example
  apps/sending-func/__mocks__/env-config.mock.ts
  apps/sending-func/utils/appinsights.ts
  apps/sending-func/utils/config.ts
  infra/resources/_modules/function_app_sending/function_app_sending.tf
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/function_app_sending/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#145 Reduce `messages-summary` CosmosDB Container RU
  infra/resources/_modules/cosmos/io_com_cosmos.tf
Labels: infra

#153 Upgrade `repository` terraform dependencies
  infra/repository/.terraform.lock.hcl
  infra/repository/main.tf
Labels: infra

#154 Enable autoscaling for `citizen-func`
  infra/resources/_modules/web_apps/citizen-func.tf
Labels: infra

#157 Remove unused env vars from `etl-func`
  .changeset/curvy-bugs-fry.md
  apps/etl-func/local.settings.json.example
  apps/etl-func/src/adapters/config.ts
  apps/etl-func/src/adapters/env.ts
  apps/etl-func/src/func.ts
  infra/resources/_modules/web_apps/locals.tf
Labels: infra, etl-func

#155 Add autoscaler to `etl-func`
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/prod/westeurope.tf
Labels: infra

#161 Set default and minimum instances to 1 for etl autoscaler
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra
