Repository pagopa/io-messages, pull requests merged in 2025-04, with the labels that each got.

#187 Add Container App for premium reminder
  infra/resources/_modules/container_apps/README.md
  infra/resources/_modules/container_apps/data.tf
  infra/resources/_modules/container_apps/reminder_ca.tf
  infra/resources/_modules/container_apps/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/container_apps.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#191 Fix KeyVault Access policy for reminder container app
  infra/resources/_modules/container_apps/reminder_ca.tf
Labels: infra

#193 Replace sample with reminder container image
  infra/repository/.terraform.lock.hcl
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/container_apps/README.md
  infra/resources/_modules/container_apps/com_cae.tf
  infra/resources/_modules/container_apps/iam.tf
  infra/resources/_modules/container_apps/reminder_ca.tf
  infra/resources/_modules/container_apps/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/container_apps.tf
  infra/resources/prod/data.tf
  infra/resources/prod/resource_groups.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#200 Fix/moving queues outside internal storage
  .yarnrc.yml
  apps/push-notifications-func/HandleNHNotificationCall/function.json
  apps/push-notifications-func/HandleNHNotifyMessageCallActivityQueue/function.json
  apps/push-notifications-func/__mocks__/env-config.mock.ts
  apps/push-notifications-func/__mocks__/env.mock.ts
  apps/push-notifications-func/env.example
  apps/push-notifications-func/utils/config.ts
  infra/resources/_modules/web_apps/push-notifications-func.tf
  yarn.lock
Labels: infra, push-notifications-func

#181 Add ops-func
  .changeset/stale-turkeys-deliver.md
  .github/labeler.yml
  .github/workflows/deploy-ops-func.yaml
  apps/ops-func/.prettierignore
  apps/ops-func/README.md
  apps/ops-func/eslint.config.js
  apps/ops-func/host.json
  apps/ops-func/local.settings.json.example
  apps/ops-func/package.json
  apps/ops-func/src/adapters/__tests__/audit.spec.ts
  apps/ops-func/src/adapters/__tests__/message.spec.ts
  apps/ops-func/src/adapters/audit.ts
  apps/ops-func/src/adapters/config.ts
  apps/ops-func/src/adapters/functions/__tests__/delete-message.test.ts
  apps/ops-func/src/adapters/functions/__tests__/split-delete-messages.test.ts
  apps/ops-func/src/adapters/functions/delete-message.ts
  apps/ops-func/src/adapters/functions/health.ts
  apps/ops-func/src/adapters/functions/split-delete-messages.ts
  apps/ops-func/src/adapters/message.ts
  apps/ops-func/src/domain/audit.ts
  apps/ops-func/src/domain/message.ts
  apps/ops-func/src/domain/use-cases/__tests__/delete-message.spec.ts
  apps/ops-func/src/domain/use-cases/delete-message.ts
  apps/ops-func/src/domain/use-cases/health.ts
  apps/ops-func/src/func.ts
  apps/ops-func/tsconfig.json
  apps/ops-func/vitest.config.js
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/notification_hubs/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_account_io_com.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/ops_func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/tfmodules.lock.json
  infra/resources/prod/web_apps.tf
  yarn.lock
Labels: infra, ops-func

#203 Add changeset for ops-func first release
  .changeset/bright-cows-lie.md
  .changeset/stale-turkeys-deliver.md
  apps/ops-func/src/adapters/functions/__tests__/delete-message.test.ts
  apps/ops-func/src/adapters/functions/__tests__/split-delete-messages.test.ts
  apps/ops-func/src/adapters/functions/delete-message.ts
  apps/ops-func/src/adapters/functions/split-delete-messages.ts
  apps/ops-func/src/func.ts
Labels: ops-func

#208 Upgrade ops-func tier s -> m
  .github/workflows/deploy-ops-func.yaml
  infra/resources/_modules/web_apps/ops_func.tf
Labels: infra

#207 Update eslint and @pagopa/eslint-config
  apps/citizen-func/package.json
  apps/push-notifications-func/.eslintrc.js
  apps/push-notifications-func/HandleNHCreateOrUpdateInstallationCallActivity/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHCreateOrUpdateInstallationCallActivity/handler.ts
  apps/push-notifications-func/HandleNHCreateOrUpdateInstallationCallActivity/index.ts
  apps/push-notifications-func/HandleNHCreateOrUpdateInstallationCallOrchestrator/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHCreateOrUpdateInstallationCallOrchestrator/handler.ts
  apps/push-notifications-func/HandleNHCreateOrUpdateInstallationCallOrchestrator/index.ts
  apps/push-notifications-func/HandleNHDeleteInstallationCallActivity/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHDeleteInstallationCallActivity/handler.ts
  apps/push-notifications-func/HandleNHDeleteInstallationCallActivity/index.ts
  apps/push-notifications-func/HandleNHDeleteInstallationCallOrchestrator/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHDeleteInstallationCallOrchestrator/handler.ts
  apps/push-notifications-func/HandleNHDeleteInstallationCallOrchestrator/index.ts
  apps/push-notifications-func/HandleNHNotificationCall/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHNotificationCall/handler.ts
  apps/push-notifications-func/HandleNHNotificationCall/index.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallActivity/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallActivity/handler.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallActivity/index.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallActivityQueue/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallActivityQueue/handler.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallActivityQueue/index.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallOrchestrator/__tests__/handler.test.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallOrchestrator/handler.ts
  apps/push-notifications-func/HandleNHNotifyMessageCallOrchestrator/index.ts
  apps/push-notifications-func/Info/__tests__/handler.test.ts
  apps/push-notifications-func/Info/handler.ts
  apps/push-notifications-func/Info/index.ts
  apps/push-notifications-func/IsUserInActiveSubsetActivity/__tests__/handler.test.ts
  apps/push-notifications-func/IsUserInActiveSubsetActivity/handler.ts
  apps/push-notifications-func/IsUserInActiveSubsetActivity/index.ts
  apps/push-notifications-func/__mocks__/activities-mocks.ts
  apps/push-notifications-func/__mocks__/env-config.mock.ts
  apps/push-notifications-func/__mocks__/env.mock.ts
  apps/push-notifications-func/eslint.config.mjs
  apps/push-notifications-func/package.json
  apps/push-notifications-func/utils/__tests__/config.test.ts
  apps/push-notifications-func/utils/__tests__/featureFlags.test.ts
  apps/push-notifications-func/utils/__tests__/healthcheck.test.ts
  apps/push-notifications-func/utils/__tests__/notificationhubServicePartition.test.ts
  apps/push-notifications-func/utils/__tests__/types.test.ts
  apps/push-notifications-func/utils/appinsights.ts
  apps/push-notifications-func/utils/config.ts
  apps/push-notifications-func/utils/conversions.ts
  apps/push-notifications-func/utils/durable/activities/index.ts
  apps/push-notifications-func/utils/durable/activities/log.ts
  apps/push-notifications-func/utils/durable/activities/returnTypes.ts
  apps/push-notifications-func/utils/durable/orchestrators/index.ts
  apps/push-notifications-func/utils/durable/orchestrators/log.ts
  apps/push-notifications-func/utils/durable/orchestrators/returnTypes.ts
  apps/push-notifications-func/utils/durable/utils.ts
  apps/push-notifications-func/utils/errors.ts
  apps/push-notifications-func/utils/featureFlags.ts
  apps/push-notifications-func/utils/healthcheck.ts
  apps/push-notifications-func/utils/notification.ts
  apps/push-notifications-func/utils/notificationhubServicePartition.ts
  apps/push-notifications-func/utils/types.ts
  yarn.lock
Labels: push-notifications-func

#211 Use correct cosmosdb name for ops-func
  infra/resources/_modules/web_apps/ops_func.tf
Labels: infra

#210 Remove notif-func
  .devcontainer/devcontainer.json
  apps/notif-func/.prettierignore
  apps/notif-func/eslint.config.js
  apps/notif-func/host.json
  apps/notif-func/local.settings.json.example
  apps/notif-func/package.json
  apps/notif-func/scripts/get-installation.mjs
  apps/notif-func/scripts/nh-client.mjs
  apps/notif-func/src/adapters/config.ts
  apps/notif-func/src/adapters/env.ts
  apps/notif-func/src/adapters/functions/migrate-gcm-to-fcm.ts
  apps/notif-func/src/adapters/functions/split-installation-chunks.ts
  apps/notif-func/src/adapters/notification-hubs/config.ts
  apps/notif-func/src/adapters/notification-hubs/index.ts
  apps/notif-func/src/adapters/notification-hubs/tests/index.spec.ts
  apps/notif-func/src/func.ts
  apps/notif-func/tsconfig.json
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/notification_hubs/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/linux_function_app_admin.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/prod/web_apps.tf
  yarn.lock
Labels: infra

#212 Update toolchain
  apps/citizen-func/.auto-changelog.json
  apps/citizen-func/package.json
  apps/etl-func/package.json
  apps/etl-func/src/adapters/__tests__/message-event.test.ts
  apps/ops-func/package.json
  apps/push-notifications-func/.auto-changelog.json
  apps/push-notifications-func/package.json
  apps/push-notifications-func/preview.hbs
  apps/sending-func/.auto-changelog.json
  apps/sending-func/package.json
  package.json
  packages/io-messages-common/package.json
  yarn.lock
Labels: etl-func, ops-func, push-notifications-func

#216 Update TypeScript
  .yarn/sdks/typescript/package.json
  apps/citizen-func/package.json
  apps/etl-func/package.json
  apps/ops-func/package.json
  apps/push-notifications-func/package.json
  apps/sending-func/package.json
  package.json
  packages/io-messages-common/package.json
  yarn.lock
Labels: etl-func, ops-func, push-notifications-func

#214 Update ops-com sql role to give RW access to cosmos-api
  infra/resources/_modules/web_apps/ops_func.tf
Labels: infra

#221 update dx function app version
  infra/resources/_modules/web_apps/push-notifications-func.tf
Labels: infra

#222 Updated push notif func dx module
  infra/resources/_modules/web_apps/push-notifications-func.tf
Labels: infra

#217 Enforce Yarn Constraints
  .yarnrc.yml
  apps/ops-func/package.json
Labels: ops-func

#224 Remove AzureWebJobsStorage from config type
  apps/push-notifications-func/__mocks__/env-config.mock.ts
  apps/push-notifications-func/__mocks__/env.mock.ts
  apps/push-notifications-func/local.settings.json.example
  apps/push-notifications-func/utils/config.ts
Labels: push-notifications-func

#225 Add extension bundle
  apps/push-notifications-func/extensions.csproj
  apps/push-notifications-func/host.json
  apps/push-notifications-func/package.json
Labels: push-notifications-func
