Repository pagopa/io-messages, pull requests merged in 2025-05, with the labels that each got.

#230 Move modules outside of main.tf
  infra/resources/prod/cosmos.tf
  infra/resources/prod/main.tf
  infra/resources/prod/monitoring.tf
  infra/resources/prod/redis.tf
Labels: infra

#238 Remove messageStatusEventHub from config
  apps/etl-func/src/adapters/config.ts
Labels: etl-func

#213 Add log information in health use-case
  apps/ops-func/src/adapters/cosmos/health.ts
  apps/ops-func/src/adapters/functions/health.ts
  apps/ops-func/src/domain/use-cases/health.ts
  apps/ops-func/src/func.ts
Labels: ops-func

#245 Fix cqrs-func cidrs
  .changeset/thirty-teeth-count.md
  apps/cqrs-func/CHANGELOG.md
  infra/resources/prod/web_apps.tf
Labels: infra

#248 Upgrade azurerm provider and remove duplicated Data entry for AI
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/monitoring/monitoring.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/cqrs-func.tf
  infra/resources/_modules/web_apps/etl_func.tf
  infra/resources/_modules/web_apps/ops_func.tf
  infra/resources/_modules/web_apps/pushnotif-func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/container_apps.tf
  infra/resources/prod/data.tf
  infra/resources/prod/monitoring.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/prod/web_apps.tf
Labels: infra

#251 New push notification queue rollout
  .changeset/quiet-insects-pay.md
  apps/sending-func/local.settings.json.example
  apps/sending-func/src/__mocks__/env-config.mock.ts
  apps/sending-func/src/functions/Notify/__tests__/notification.test.ts
  apps/sending-func/src/functions/Notify/index.ts
  apps/sending-func/src/functions/Notify/notification.ts
  apps/sending-func/src/utils/config.ts
  apps/sending-func/src/utils/healthcheck.ts
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/function_app_sending/variables.tf
  infra/resources/_modules/web_apps/pushnotif-func.tf
  infra/resources/prod/main.tf
Labels: infra

#259 Update repo module
  infra/repository/.terraform.lock.hcl
  infra/repository/main.tf
Labels: infra

#261 Remove redundant permission to io-p-itn-com-rg-01
  infra/resources/prod/resource_groups.tf
Labels: infra
