Repository pagopa/io-messages, pull requests merged in 2025-07, with the labels that each got.

#266 Create remote content func into io-p-itn-com-rg-01
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/remote-content-func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/tfmodules.lock.json
  infra/resources/prod/web_apps.tf
Labels: infra

#365 Link mongo peps with private dns zone
  infra/resources/_modules/mongo/messages.tf
  infra/resources/_modules/mongo/payments.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
Labels: infra

#369 Add rc-func autoscaler
  infra/resources/_modules/web_apps/remote-content-func.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#371 Disable ingest-message-status on staging slot only
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra

#372 Disable message-status ingestion
  infra/resources/_modules/web_apps/etl_func.tf
Labels: infra

#373 Change rc APIM policies
  infra/resources/_modules/apim/api/remote-content/policy.xml
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/web_apps/remote-content-func.tf
Labels: infra

#375 Fix bump openapi script
  apps/services-func/package.json
Labels: services-func

#378 Add kv and cosmos roles
  infra/resources/_modules/web_apps/services-func.tf
Labels: infra

#381 Add mailup env variables
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/services-func.tf
Labels: infra

#383 Use correct processing-message container name
  infra/resources/_modules/web_apps/services-func.tf
Labels: infra

#385 Update services openapi to match the base path api/v1/messages
  apps/services-func/openapi/index.yaml
Labels: external-interface-changes, services-func

#387 Add autoscaler for services-func
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/web_apps/services-func.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#386 Create new messages api to apim
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/messages/policy.xml
  infra/resources/_modules/apim/apim_namedvalues.tf
  infra/resources/_modules/apim/data.tf
  infra/resources/_modules/apim/services.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/prod/apim.tf
Labels: infra

#389 fix base url on apim messages policy
  infra/resources/_modules/apim/api/messages/policy.xml
Labels: infra

#399 Services func fix a wrong secret name
  infra/resources/_modules/web_apps/services-func.tf
Labels: infra

#400 Message Sending API internal update
  infra/resources/_modules/apim/api/pushnotif-internal/policy.xml
  infra/resources/_modules/apim/apim_namedvalues.tf
  infra/resources/_modules/apim/data.tf
  infra/resources/_modules/apim/notification.tf
Labels: infra

#405 New apim session fragment
  infra/resources/_modules/apim/apim_namedvalues.tf
  infra/resources/_modules/apim/data.tf
  infra/resources/_modules/apim/fragment/session-fragment.xml
  infra/resources/_modules/apim/session-fragment.tf
Labels: infra

#406 Fix APIM Session Fragment
  infra/resources/_modules/apim/apim_namedvalues.tf
  infra/resources/_modules/apim/fragment/session-fragment.xml
Labels: infra
