Repository pagopa/io-messages, pull requests merged in 2025-06, with the labels that each got.

#263 Switch to the new push notification queue
  infra/resources/_modules/function_app_sending/locals.tf
Labels: infra

#271 Enhance autoscaler configuration with high and low load profiles
  infra/resources/_modules/web_apps/pushnotif-func.tf
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

#260 Add domain key vault
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/key_vaults/io_com_key_vault.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/key_vault.tf
Labels: infra

#257 Use session-manager client to resolve the session in Notify function
  .changeset/all-apples-beg.md
  apps/sending-func/local.settings.json.example
  apps/sending-func/package.json
  apps/sending-func/src/__mocks__/env-config.mock.ts
  apps/sending-func/src/functions/Notify/__tests__/readers.test.ts
  apps/sending-func/src/functions/Notify/handler.ts
  apps/sending-func/src/functions/Notify/index.ts
  apps/sending-func/src/functions/Notify/readers.ts
  apps/sending-func/src/utils/config.ts
  bruno/sending-func/Notify.bru
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/function_app_sending/variables.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
  mockoon.json
  yarn.lock
Labels: infra

#277 Remove APPINSIGHTS_DISABLE from config
  .changeset/true-moose-worry.md
  apps/citizen-func/src/utils/appinsights.ts
  apps/cqrs-func/utils/appinsights.ts
  apps/pushnotif-func/utils/appinsights.ts
  apps/pushnotif-func/utils/config.ts
  apps/sending-func/src/__mocks__/env-config.mock.ts
  apps/sending-func/src/utils/appinsights.ts
  apps/sending-func/src/utils/config.ts
Labels: pushnotif-func

#276 Add sending-func kv permissions
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/function_app_sending/function_app_sending.tf
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/function_app_sending/variables.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

#289 Update DX Bootstrap module
  infra/repository/.terraform.lock.hcl
  infra/repository/tfmodules.lock.json
Labels: infra

#288 Fix cqrs func app settings
  .changeset/empty-bushes-yell.md
  apps/cqrs-func/CosmosApiMessagesChangeFeed/index.ts
  apps/cqrs-func/CosmosRemoteContentMessageConfigurationChangeFeed/index.ts
  apps/cqrs-func/HandleMessageChangeFeedPublishFailures/function.json
  apps/cqrs-func/HandleMessageChangeFeedPublishFailures/index.ts
  apps/cqrs-func/env.example
  apps/cqrs-func/local.settings.json.example
  apps/cqrs-func/utils/appinsights.ts
  apps/cqrs-func/utils/config.ts
  apps/pushnotif-func/local.settings.json.example
  infra/resources/_modules/storage_accounts/storage_account_io_com.tf
  infra/resources/_modules/web_apps/cqrs-func.tf
Labels: infra, pushnotif-func

#291 Enable cqrs-func functions
  infra/resources/_modules/web_apps/cqrs-func.tf
Labels: infra

#283 Remove push notifications rollout logic from sending-func
  apps/sending-func/local.settings.json.example
  apps/sending-func/src/__mocks__/env-config.mock.ts
  apps/sending-func/src/functions/Notify/__tests__/notification.test.ts
  apps/sending-func/src/functions/Notify/index.ts
  apps/sending-func/src/functions/Notify/notification.ts
  apps/sending-func/src/utils/config.ts
  apps/sending-func/src/utils/healthcheck.ts
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/function_app_sending/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#300 Add rc account endpoint
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_app_sending/README.md
  infra/resources/_modules/function_app_sending/locals.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/web_apps/cqrs-func.tf
  infra/resources/prod/README.md
Labels: infra

#173 Define resource instead of using data
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/monitoring/outputs.tf
  infra/resources/_modules/web_apps/README.md
  infra/resources/_modules/web_apps/pushnotif-func.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/cosmos.tf
  infra/resources/prod/data.tf
  infra/resources/prod/eventhubs.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/prod/web_apps.tf
  infra/resources/prod/westeurope.tf
Labels: infra

#307 Change type on pushnotif package.json
  apps/pushnotif-func/package.json
Labels: pushnotif-func

#314 Migrate reminder and paymentup EventHubs
  infra/resources/_modules/eventhubs/etl.tf
Labels: infra

#318 Update subnet CIDR
  infra/resources/prod/mysql.tf
Labels: infra

#323 Add Key Vault Secrets User role
  infra/resources/_modules/container_apps/com_cae.tf
  infra/resources/_modules/container_apps/paymentup_ca.tf
  infra/resources/_modules/container_apps/reminder_ca.tf
Labels: infra

#329 Update OpenApi templates
  apps/sending-func/openapi/index_external.yaml
  apps/sending-func/openapi/index_external.yaml.template
  apps/sending-func/openapi/index_internal.yaml.template
Labels: external-interface-changes

#332 Make reminder read from new ITN evh
  infra/resources/_modules/container_apps/reminder_ca.tf
Labels: infra

#335 Add virtual network link
  infra/resources/prod/dns.tf
Labels: infra

#336 Replace proxy with new ecommerce api
  .changeset/real-apples-repair.md
  apps/payment-updater/pom.xml
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/consumer/MessageKafkaConsumer.java
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/controller/PaymentController.java
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/dto/PaymentInfoResponse.java
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/service/PaymentService.java
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/service/PaymentServiceImpl.java
  apps/payment-updater/src/main/resources/api-pagopa-ecommerce.json
  apps/payment-updater/src/main/resources/api-pagopa-proxy.yaml
  apps/payment-updater/src/main/resources/application-dev.properties
  apps/payment-updater/src/main/resources/application.properties
  apps/payment-updater/src/test/java/it/ioapp/com/paymentupdater/AbstractMock.java
  apps/payment-updater/src/test/java/it/ioapp/com/paymentupdater/MessageKafkaConsumerTest.java
  apps/payment-updater/src/test/resources/application.properties
  infra/resources/_modules/container_apps/README.md
  infra/resources/_modules/container_apps/data.tf
  infra/resources/_modules/container_apps/paymentup_ca.tf
Labels: infra

#337 Point APIM to the new paymentup instance
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/payment-updater/policy.xml
  infra/resources/_modules/apim/payment_updater.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/container_apps/README.md
  infra/resources/_modules/container_apps/outputs.tf
  infra/resources/prod/README.md
  infra/resources/prod/apim.tf
Labels: infra

#342 Fix ecommerce api response management
  .changeset/slick-plants-tie.md
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/consumer/MessageKafkaConsumer.java
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/controller/PaymentController.java
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/service/PaymentService.java
  apps/payment-updater/src/main/java/it/ioapp/com/paymentupdater/service/PaymentServiceImpl.java
  apps/payment-updater/src/main/resources/application-dev.properties
  apps/reminder/src/main/java/it/ioapp/com/reminder/service/ReminderServiceImpl.java
  apps/reminder/src/main/resources/openapi/service-messages.yaml
Labels: external-interface-changes

#341 Fix to paymentup policy and environment
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/payment_updater.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/container_apps/README.md
  infra/resources/_modules/container_apps/data.tf
  infra/resources/_modules/container_apps/paymentup_ca.tf
  infra/resources/prod/apim.tf
Labels: infra
